# moonfish is licensed under the AGPL (v3 or later)
# copyright 2023 zamfofex

*
!/.gitignore
!/LICENSE
!/README.md
!/makefile
!/.build.yml
!/manifest.scm
!/moonfish.vcxproj
!/minify.sh
!/moonfish.h
!/chess.c
!/search.c
!/main.c
!/tools
!/tools/tools.h
!/tools/utils.c
!/tools/play.c
!/tools/analyse.c
!/tools/lichess.c
