# moonfish is licensed under the AGPL (v3 or later)
# copyright 2025 zamfofex

*
!/.gitignore
!/LICENSE
!/README.md
!/makefile
!/GNUmakefile
!/index.html
!/.build.yml
!/moonfish.vcxproj
!/moonfish.h
!/threads.h
!/chess.c
!/search.c
!/main.c
!/mini.c
!/tools
!/tools/tools.h
!/tools/utils.c
!/tools/analyse.c
!/tools/lichess.c
!/tools/chat.c
!/tools/https.h
!/tools/https.c
!/tools/perft.c
!/tools/pgn.c
!/scripts
!/scripts/minify.sh
!/scripts/rename.sh
!/scripts/compare.sh
!/scripts/offload.sh
!/scripts/check.sh
!/scripts/check.txt
