# moonfish is licensed under the AGPL (v3 or later)
# copyright 2023, 2024 zamfofex

*
!/.gitignore
!/LICENSE
!/README.md
!/makefile
!/.build.yml
!/check.sh
!/moonfish.vcxproj
!/minify.sh
!/rename.sh
!/moonfish.h
!/chess.c
!/search.c
!/main.c
!/mini.c
!/tools
!/tools/tools.h
!/tools/utils.c
!/tools/play.c
!/tools/analyse.c
!/tools/lichess.c
!/tools/chat.c
!/tools/https.h
!/tools/https.c
!/tools/perft.c
!/tools/learn.c
